body {
    margin: 0;
}

.sidebar {
    list-style: none;
    width: 25%;
    background-color: rgb(163, 218, 218);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
}

.active {
    background-color: #ecc457;
}

.sidebar li a:hover {
    background-color: rgb(33, 221, 196);
}

.three :hover {
    background-color: lemonchiffon;
}

.three {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.three .box {
    padding: 20px;
}

.three .box:first-child {
    background-color: rgb(243, 140, 102);
}

.three .box:last-child {
    background-color: rgb(106, 187, 241);
}

.footer {
    margin: 20px 0;
    padding: 10px;
    background-color: gray;
    color: whitesmoke;
    text-align: center;
    height: 30px;
}

.footer div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer .f1 {
    float: left;
    text-align: center;
}

.footer .f2 {
    float: right;
}

. @media screen and (max-width:900px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar li a {
        float: left;
        padding: 10px;
    }
}

@media screen and (max-width:400px) {
    .sidebar li a {
        text-align: center;
        float: none;
    }
    .one {
        margin-left: 0;
    }
    .two .tree,
    .three,
    .footer div {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.one {
    margin-left: 25%;
    padding: 3px 15px;
}

.two ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
}